<header>
  <div class="col-md-2 nav-info">
    <%= link_to "ToDo", root_path, id: "logo" %>
    <nav>
      <ul class="nav nav-item">
        <li><%= link_to "アカウント登録", signup_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "フォロー", "#" %></li>
        <li><%= link_to "フォロワー", "#" %></li>
        <li><%= link_to "プロフィール", "#" %></li>
        <li><%= link_to "公開タスク", "#" %></li>
        <li><%= link_to "タスク履歴", "#" %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete, data: { "turbo-method": :delete } %></li>
      </ul>
    </nav>
  </div>
</header>