<header>
  <div class="col-md-2 navbar">
    <h1 id="logo"><%= link_to "ToDo", root_path %></h1>
    <nav>
      <ul class="nav-item">
        <% unless user_signed_in? %>
          <li><%= link_to "アカウント登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% else %>
          <% @user ||= current_user %>
          <li><%= link_to "フォロー", following_user_path(@user) %></li>
          <li><%= link_to "フォロワー", followers_user_path(@user) %></li>
          <li><%= link_to "プロフィール", user_path(current_user) %></li>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "公開タスク", "#" %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete, data: { "turbo-method": :delete } %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>